# Server Configuration
APP_NAME={{ProjectName}}
APP_PORT=3000
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=*

# Database Configuration
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=your-password
DATABASE_NAME={{ProjectName}}
DATABASE_SYNCHRONIZE=false
DATABASE_LOGGING=false
